<h1>Events#index</h1>

<div class="container">
  <div class="row col-md-6">
    <% @events.each do |event| %>
      <%= event.name %>
      <%= image_tag event.photo %>
    <% end %>
  </div>
  <div class="row col-md-6">
    <p>tienda online</p>
  </div>
</div>
